
    <div class="beer-container">
        <img class="beer-image" src="{{ image_url }}" alt="{{ name }}" />
      <div class="info-container">
        <h4 class="name"><a href="/beers/{{ id }}">{{ name }}</a></h4>
        <small class="tagline">{{ tagline }}</small>
        <p class="description">{{ description }}</p>
      </div>
    </div>